@import "tailwindcss";

.font-poppins {
  font-family: var(--font-poppins);
}

.font-marvel {
  font-family: var(--font-marvel);
}

.font-rajdhani {
  font-family: var(--font-rajdhani);
}

:root {
  --s-primary: #eb9235;
  --s-primary-dark: #D51E0B;
  --s-secondary: #3749bb;
  --s-tertiary: #838383;
  --s-hf-bg: #081621;
  --s-b-bg: #f2f4f8;
  --s-m-bg: #6E2594;
  --s-s-bg: rgba(55, 73, 187, .05);
  --s-f-c1: #666666;
  --s-f-c2: #fff;
}

.header {
  background-color: var(--s-hf-bg);
}

.footer {
  background-color: var(--s-hf-bg);
}

main {
  background-color: var(--s-b-bg);
}

.primary {
  color: var(--s-primary);
}

.primary-btn {
  color: var(--s-primary);
}

.container-width {
  max-width: var(--breakpoint-xl);
  margin-inline: auto;
}

/* Adjust pagination dots */
.swiper-pagination-bullet {
  height: 5px !important;
  width: 20px !important;
  background-color: whitesmoke !important;
  border-radius: 0% !important;
}

.swiper-pagination-bullet-active {
  background-color: var(--s-secondary) !important;
}

@theme {
  --color-primary: var(--s-primary);
  /* --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono); */
}

/*@media (prefers-color-scheme: dark) {
  :root {
    --background: #0F172A;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */