@import "tailwindcss";

.font-poppins {
  font-family: var(--font-poppins);
}

.font-marvel {
  font-family: var(--font-marvel);
}

.font-rajdhani {
  font-family: var(--font-rajdhani);
}

:root {
  --s-primary: #eb9235;
  --s-primary-dark: #D51E0B;
  --s-secondary: #3749bb;
  --s-tertiary: #838383;
  --s-hf-bg: #081621;
  --s-b-bg: #f2f4f8;
  --s-m-bg: #6E2594;
  --s-s-bg: rgba(55, 73, 187, .05);
  --s-f-c1: #666666;
  --s-f-c2: #fff;
}

.header {
  background-color: var(--s-hf-bg);
}

.footer {
  background-color: var(--s-hf-bg);
}

main {
  background-color: var(--s-b-bg);
}

.primary {
  color: var(--s-primary);
}

.primary-btn {
  color: var(--s-primary);
}

.container-width {
  max-width: var(--breakpoint-xl);
  margin-inline: auto;
}

/* Adjust pagination dots */
.swiper-pagination-bullet {
  height: 5px !important;
  width: 20px !important;
  background-color: whitesmoke !important;
  border-radius: 0% !important;
}

.swiper-pagination-bullet-active {
  background-color: var(--s-secondary) !important;
}

/* 
.divider {
  white-space: nowrap;
  height: 1rem;
  margin: var(--divider-m, 1rem 0);
  flex-direction: row;
  align-self: stretch;
  align-items: center;
  display: flex;
}

.divider:before,
.divider:after,
.divider::backdrop {
  box-sizing: border-box;
  border: 1px solid;
  margin: 0;
  padding: 0;
} */

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0F172A;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */